//576px
//768px
//920px
//1180px

.header{
	&__bottom{
		padding: 1em 0;
		border-bottom: 1px solid #D9D0D0;
	}
	@include mQ(576px){
		&__bottom{
			border-top: 1px solid #D9D0D0;
		}
	}
}
.logo{
	text-align: center;
	padding: 0 0 1em;
	@include mQ(768px){
		padding: 0;
		text-align: left;
		display: inline-block;
		width: 15%;
	}
	a:hover{opacity: .7;}
}

.main-nav{
	font-family: $font1;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 1em;
	@include mQ(576px){
		text-align: center;
	}
	@include mQ(768px){
		display: inline-block;
		width: 70%;
		vertical-align: top;
		text-align: center;
		padding: 7px 0;
	}

	&__item{
		text-align: center;
		@include mQ(576px){
			display: inline-block;
			margin: 0 3em 0 0;
			&:last-child{
				margin-right: 0;
			}
		}
		@include mQ(920px){
			margin: 0 4em 0 0;
		}
	}
	&__link{
		color: $grey;
		padding: .5em 1em;
		border-bottom: 2px solid transparent;
		
		&--sale{ color: red; }
		&:hover{ color: $black; }
		@include mQ(576px){ padding: .5em 0; }
	}


	.active{ 
		color: $black;
		@include mQ(576px){ border-bottom: 2px solid $blue; }
	}
}
.cart{
	display: none;
	font-family: $font1;
	font-size: 12px;
	padding: 2em 0;
	text-align: center;

	@include mQ(768px){
		display: inline-block;
		width: 15%;
		text-align: right;
		padding: 0;
	}

	&__text{
		display: none;
		vertical-align: top;
		span{
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $grey;
			margin: 12px 14px 0 0;
		}
		@include mQ(1180px){
			display: inline-block;
		}
	}
	&__number{
		display: inline-block;
		span{
			height: 38px;
			width: 38px;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			border: 2px solid $blue;
			border-radius: 50%;
			background: transparent;
			color: $black;
		}
	}
	&__search{
		display: inline-block;
		vertical-align: top;
		span{
			display: inline-block;
			margin: 14px 0 0 22px;
			width: 14px;
			height: 14px;
			background: url( $imgUrl + 'loop.jpg' ) no-repeat;
		}
	}
}







.sub-nav{
	text-align: center;
	font-family: $font1;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	vertical-align: top;
	@include mQ(576px){
		text-align: left;
		display: inline-block;
		width: 50%;
	}

	&__list{
		padding: 16px 0;
		display: inline-block;
	}
	
	&__item{
		margin: 0 32px 0 0;
		display: inline-block;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		color: $grey;
		padding-right: 0;
		padding-left: 0;
		
		&:hover{color: $black;}
	}
}





.dropdown{
	text-align: center;
	&__select{
		display: inline-block;
		text-align: left;
		&--curr{
			width: 98px;
		}
		&--lang{
			width: 52px;
			margin: 0 0px 0 9px;
		}
	}
	@include mQ(576px){
		&__greyline{
			display: inline-block;
			height: 46px;
			width: 1px;
			background: #D9D0D0;
			vertical-align: bottom;
			margin: 0 0 0 8px;
		}
		width: 50%;
		display: inline-block;
		text-align: right;
	}
}

.Select{
	&-arrow{
		border: none;
		display: inline-block;
		width: 7px;
		height: 4px;
		top: 0 !important;
		margin: 0 0 3px;
		background: url($imgUrl+'arrow.png') no-repeat;
	}
	&-control{
		border: none;
		border-radius: 0;
		cursor: pointer;
		&:hover{box-shadow: none;}
	}
	&-value-label{
		font-family: $font1;
		font-size: 11px;
		letter-spacing: 1px;
		color: $grey !important;
		text-transform: uppercase;
	}
	&-menu-outer{
		font-family: $font1;
		font-size: 11px;
		letter-spacing: 1px;
		color: $grey !important;
		text-transform: uppercase;
	}
}



