.subscribe{
	font-family: $font1;
	padding: 5em 0;
	background: $blue;
	text-align: center;

	h2{
		text-transform: uppercase;
		font-size: 1rem;
	}
	p{
		font-family: $font2;
		font-size: 2em;
		color: white;
		padding: .5em 0 1em;
	}
	input[type="email"]{
		outline: none;
		background: $blue;
		border: 1px solid #fff;
		color: #fff;
		border-radius: 1.5em;
		padding: .5em 2em .5em 1em;
		text-transform: uppercase;
		font-size: 16px;

		&::-webkit-input-placeholder {
		  font-family: $font1;
		  color: #fff;
		  font-size: 12px;
		}
		&::-moz-placeholder {
		  font-family: $font1;
		  color: #fff;
		  font-size: 12px;
		}
		&:-ms-input-placeholder {
		  font-family: $font1;
		  color: #fff;
		  font-size: 12px;
		}
		&:-moz-placeholder {
		  font-family: $font1;
		  color: #fff;
		  font-size: 12px;
		}
	}
	input[type="email"]:focus{
		border: 1px solid #fff;
	}
	form{
		position: relative;
		display: inline-block;
	}
	.submit{
		cursor: pointer;
		color: #fff;
		position: absolute;
		right: 0;
		padding: 0 .5em;
		font-size: 28px;
		&:hover{opacity: .8;}
	}
}